<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!-- 继承spring boot 提供的着色器 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="logDir" value="logs" />
    <!-- 默认不会删除日志 -->
    <property name="maxHistory" value="${maxHistory:-0}"/>
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] %logger - %m%n"/>
    <property name="CONSOLE_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%logger){cyan} %clr(-){faint} %m%n%wEx"/>
    <property name="asyncIncludeCallerData" value="false"/>
    
    <logger name="com.netflix.discovery.shared.resolver.aws.ConfigClusterResolver" level="ERROR"/>
    <jmxConfigurator />

</included>