<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head><title>Login Page</title></head>
<body onload='document.f.username.focus();'>
<h3 th:text="${h3}">aaaaa</h3>
<form name='f' action='/login' method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password'/></td>
        </tr>
        <tr>
            <td>Code:</td>
            <td><span onclick="changeCode()"><img th:src="@{/vc/get(dt=${#dates.createNow().getTime()})}" id="imgValidateCode"/></span></td>
        </tr>
        <tr>
            <td>Code:</td>
            <td><input type="text" name="validateCode" placeholder="验证码" /></td>
        </tr>
        <tr>
            <td colspan='2'><input name="submit" type="submit" value="Login"/></td>
        </tr>
    </table>
    <div>
        <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION == null}? '' : ${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
    </div>
</form>
</body>
<script>
    function changeCode(){
        document.getElementById("imgValidateCode").setAttribute("src","/vc/get?dt=" + (new Date().getTime()));
    }

</script>
</html>

