server:
  port: 8182

mybatis:
  type-aliases-package: com.jiguang.demo.user.entity
  mapper-locations: classpath:mybatis/mapper/**/*.xml
  config-locations: classpath:mybatis/mybatis-config.xml

spring:
  application:
    name: service-user
  profiles:
    active:
    - '@profileActive@'
#    include:
#  datasource:
#    druid:
#      web-stat-filter:
#        principalSessionName: userName

management:
#  add-application-context-header: false
#  security:
#    enabled: false
#  context-path: /spring-manager
  port: 2${server.port}

eureka:
  instance:
    prefer-ip-address: true
    metadata-map:
      management.port: ${management.port}
logging:
  extends:
    maxHistory: 90

ribbon:
  ConnectTimeout: 5000
  ReadTimeout: 30000

feign:
  hystrix:
    enabled: true

hystrix:
  command:
    default:
      execution:
        isolation:
          strategy: SEMAPHORE