eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8888/eureka

mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/jiguang
    username: root
    password: root

