<?xml version="1.0" encoding="UTF-8"?>
<included>

    <!-- 继承模板配置 -->
    <include resource="cn/mengtianyou/common/logback/base/logback-common.xml" />
    <!-- 个性化配置 -->
    <property name="maxHistory" value="${maxHistory:-60}"/>
    <!-- 引入appender -->
    <include resource="cn/mengtianyou/common/logback/base/logback-console-appender.xml" />
    <include resource="cn/mengtianyou/common/logback/base/logback-info-appender.xml" />
    <include resource="cn/mengtianyou/common/logback/base/logback-error-appender.xml" />

    <root level="info">
        <appender-ref ref="ASYNC_STDOUT" />
        <appender-ref ref="ASYNC_INFO" />
        <appender-ref ref="ASYNC_ERROR" />
    </root>
</included>