server:
  port: 8082
  context-path: /ui
#  session:
#    cookie:
#      name: UISESSION

security:
  basic:
    enabled: false
  oauth2:
    client:
      clientId: SampleClientId
      clientSecret: secret
      accessTokenUri: http://localhost:8081/auth/oauth/token
      userAuthorizationUri: http://localhost:8081/auth/oauth/authorize
    resource:
      userInfoUri: http://localhost:8081/auth/user/me
spring:
  thymeleaf:
    cache: false
  application:
    name: rest-demo
  session:
    store-type: redis
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8888/eureka