server:
  port: 8182

mybatis:
  type-aliases-package: com.jiguang.demo.user.api.entity
  mapper-locations: classpath:mybatis/mapper/**/*.xml
  config-locations: classpath:mybatis/mybatis-config.xml

spring:
  application:
    name: service-user
  profiles:
    active:
    - '@profileActive@'
#    include:
#  datasource:
#    druid:
#      web-stat-filter:
#        principalSessionName: userName

management:
  add-application-context-header: false
  security:
    enabled: false
  context-path: /spring-manager
  port: 28182

eureka:
  instance:
    prefer-ip-address: true
    metadata-map:
      management.port: ${management.port}
logging:
  extends:
    maxHistory: 90